<!DOCTYPE html>

body {
  background-color: blue;
}
.container{
  width:98%;
  margin: 3px;
  background-color: white;
}

h1 {
  color: white;
  background-color:black;
  text-align: left;
  font: bold 26px Arial, Helvetica,
  sans-serif;
  margin: 3px;
  padding-left: 50px;
  line-height: 2.5em;
  margin-right: 100px;
}

h2 {
  color: white;
  background: #00308F;
  text-align: center;
  line-height: 50px;
  word-spacing: 10em;
  margin: 3px;
}
.bottom {
  width: 99%;
  height:100%;
  background-image: url(../images/1.jpg);
  background-size: 100%;
  margin: 3px;
  background-repeat: no-repeat;
}

h3 {
  color: white;
  text-align: left;
  font: bold 26px Arial, Helvetica,
  sans-serif;
  margin: 3px;
  padding-left: 50px;
  line-height: 2.5em;
  padding-bottom: 45%;
}

p {
  color: white;
  font-family: verdana;
  font-size: 12px;
  background-color: black;
  margin: 3px;
  padding: 15px;
}

h4 {
  color: black;
  font: bold 20px Arial, Helvetica,
  sans-serif;
  text-align: center;
  line-height: 50px;
  word-spacing: .5em;
  background-color: lightblue;
  padding-top: 15px;
  padding-bottom: 5%;

}
.desc {
  color: black;
  font: bold 20px Arial, Helvetica,
  sans-serif;
  text-align: center;
  line-height: 50px;
  word-spacing: .5em;
  background-color: lightblue;
  padding-top: 15px;
  padding-bottom: 5%;

}
